<ion-header>
  <ion-navbar>
    <ion-title>{{ getDisciplina() }}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="addTarefa()" *ngIf="segment === 'tarefas'">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content style="background-color: #f7f5f4;" padding>

    <ion-segment [(ngModel)]="segment">
        <ion-segment-button value="fotos">
          Fotos
        </ion-segment-button>
        <ion-segment-button value="tarefas">
          Tarefas
        </ion-segment-button>
      </ion-segment>
  <div [ngSwitch]="segment">

    <!-- EXIBIR FOTOS -->
    <ion-list *ngSwitchCase="'fotos'">
      <ion-grid>
        <ion-row>
          <ion-col col-4 *ngFor="let photo of photos">
            <ion-card>
              <img [src]="photo" *ngIf="photo" />
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>

    <!-- EXIBIR TAREFAS -->
    <ion-list *ngSwitchCase="'tarefas'">
      <br/>
      <ion-item-sliding *ngFor="let tarefa of tarefas">

        <button ion-item style="height: 75.95px;">
          <span class="categoria">{{ getNomeCategoria(tarefa.categoria_id) }}</span>
          <span class="entrega">{{ getDateFormated(tarefa.entrega) }}</span>
          <br>
          <span class="descricao">{{ tarefa.descricao }}</span>
        </button>

        <ion-item-options style="height: 83%;" side="left" (ionSwipe)="alertaRemover(tarefa)">
          <button class="buttonLeft" ion-button expandable color="danger" (click)="alertaRemover(tarefa)">
            <ion-icon name="trash"></ion-icon>
            Excluir
          </button>
          <button ion-button color="editColor" (click)="editTarefa(tarefa.id)">
            <ion-icon name="md-create"></ion-icon>
            Editar
          </button>
        </ion-item-options>

      </ion-item-sliding>
    </ion-list>
  </div>

</ion-content>