<ion-header>
  <ion-navbar>
    <ion-title>{{ getDisciplina() }}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="addTarefa()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <ion-segment>
    <ion-segment-button value="fotos">
      Fotos
    </ion-segment-button>
    <ion-segment-button value="tarefas">
      Tarefas
    </ion-segment-button>
  </ion-segment>


  <ion-grid>
    <ion-row>
      <ion-col col-4 *ngFor="let photo of photos">
        <ion-card>
          <img [src]="photo" *ngIf="photo" />
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>